{% extends 'scrandemonium/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Scrandemonium
{% endblock %}

{% block body_block %}

    <div class = bio id="highlight">
        <h1>About Scrandemonium</h1>
        <p>As 5 struggling uni students, pesto pasta for the 9th night in a row was 9 nights too many.  So we decided to develop Scrandemonium to help us, and many others, find and share weird and wonderful kicthen creations.  Scrandemonium is a safe space for all, and we want to encourage all memebers to let others know how they got on making their recipe, good or bad (constructive critisism ideally).  So long story short, welcome, stay as long as you want.  Grab a cup of tea, and a bite to eat from our snack section, or cook up a masterpiece to suprise the family from our dinner section.  No matter how you use our site, we are happy to have you as part of the Scrandemonium Community.</p>
    </div>

    <div class="index-grid">
        <div class = "box" id="highlight">
            <h2>The Team</h2>
            <img src="{% static 'team_scran.jpg' %}" alt="Our Team Photo" />
        </div>

        <div class="box" id="highlight">
            <h2>Meet our team as we attempt to hardboil and egg!!</h2>
            <video controls>
                <source src="" type="" />
            </video>
        </div>
    </div>
{% endblock %}