{% extends 'scrandemonium/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Scrandemonium
{% endblock %}

{% block body_block %}

    <div>
        <h1>About Scrandemonium</h1>
        <p>This is our team bio.  This shall be emended at a later date...</p>
    </div>

    <div>
        <img src="" alt="Our Team Photo" />
    </div>

    <div>
        <h2>Meet our team as we attempt to hardboil and egg!!</h2>
        <video controls>
            <source src="" type="" />
        </video>

    </div>
{% endblock %}