<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head lang="en">
        <meta charset="UTF-8" />

        <title>
            {% block title_block %}
                Scrandemonium
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <script src="{% static 'javascript/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'javascript/js.js' %}" crossorigin="anonymous"></script>    
    </head>

    <body>

        <!--Header - Title and Search Bar-->
        <div class="header-bar">
            <a href="{% url 'scrandemonium:index' %}">
                <img src="{% static 'scran_logo.jpg' %}" alt="Scran Logo" />
            </a>
            <div class="search-bar">
                <form action="{% url 'scrandemonium:search_result' %}" id="search-form" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="Search Recipes..." name="searched" />
                    <input type="submit" value="Search" />
                </form>
            </div>
        </div>

        <!--Nav Bar-->
        <nav>
            <ul>
                <li><a href="{% url 'scrandemonium:about' %}">About</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'scrandemonium:my_profile' %}">Profile</a></li>
                    <li><a href="{% url 'scrandemonium:add_recipe' %}">Add Recipe</a></li>
                    <li><a href="{% url 'scrandemonium:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'scrandemonium:register' %}">Register</a></li>
                    <li><a href="{% url 'scrandemonium:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>

        <div class="container"><!--Sidebar-->
            <div class="sidebar">
                <ul>
                    <li><a href="{% url 'scrandemonium:recipes_by_category' 'Breakfast' %}">Breakfast</a></li>
                    <li><a href="{% url 'scrandemonium:recipes_by_category' 'Lunch' %}">Lunch</a></li>
                    <li><a href="{% url 'scrandemonium:recipes_by_category' 'Dinner' %}">Dinner</a></li>
                    <li><a href="{% url 'scrandemonium:recipes_by_category' 'Dessert' %}">Dessert</a></li>
                    <li><a href="{% url 'scrandemonium:recipes_by_category' 'Baking' %}">Baking</a></li>
                    <li><a href="{% url 'scrandemonium:recipes_by_category' 'Snacks' %}">Snacks</a></li>
                </ul>
            </div>
    
            <div class="main">
                {% block body_block %}
                This is body_block default - please override me
                {% endblock %}
            </div>
        </div>
        
    </body>

</html>