{% extends 'scrandemonium/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Scrandemonium
{% endblock %}

{% block body_block %}

<div class="index-main-grid">
    <div class="index-main">
        <div class ="bio text">
            <h1>Welcome to Scrandemonium</h1>
            <p>Welcome to Scrandemonium!  This is a place of crazy creations, scrumptious sandwiches, and fantastic food stuffs. So why dont you stay a little.  Try something new?  Share some of your own concoctions?  No matte what, we are happy you chose to spend you time here.</p>
        </div>

        <div class="index-grid">
            <div class = "box newest"> 
                <h2>Newest Dishes</h2>
                <ul id="newest-recipes-list">
                    {% for recipe in newest_recipes %}
                        <li>{{ recipe.title }} -- {{ recipe.user }}</li>
                    {% endfor %}
                  </ul>
            </div>
        
            <div class = "box best">
                <h2>Best Rated Recipes</h2>
                <ul id="best-rated-recipes-list">
                    {% for recipe in best_rated %}
                        <li>{{ recipe.title }} -- {{ recipe.user }}</li>
                    {% endfor %}
                  </ul>
            </div>
        </div>
    </div>

    <div class="photos">
        <div>
            <img src="{% static 'steak_dinner.jpg' %}" alt="Steak Dinner" />
        </div>

        <div>
            <img src="{% static 'creme_brulee.jpg' %}" alt="Creme Brulee" />
        </div>

        <div>
            <img src="{% static 'scones.jpg' %}" alt="Scones" />
        </div>
    </div>  

</div>
{% endblock %}