{% extends 'scrandemonium/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Scrandemonium
{% endblock %}

{% block body_block %}

<link rel="stylesheet" type="text/css" href="{% static 'css/indexStyles.css' %}">

    <div class="main-grid">
        <div class="photos">
            <img src="" alt="food photos?" />
            <img src="" alt="food photos?" />
            <img src="" alt="food photos?" />
        </div>

        <div class="main">
            <div class ="bio">
                <h1>Welcome to Scrandemonium</h1>
                <p>This is website bio...</p>
            </div>
    
            <div class="grid">
                <div class = "box newest">
                    <h2>Newest Dishes</h2>
                    <ul id="newest-recipes-list">
                        <li>Loading Newest Recipes...</li>
                      </ul>
                </div>
            
                <div class = "box best">
                    <h2>Best Rated Recipes</h2>
                    <ul id="best-rated-recipes-list">
                        <li>Loading Best Rated Recipes...</li>
                      </ul>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}