{% extends 'scrandemonium/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Scrandemonium
{% endblock %}

{% block body_block %}

    <div>
        <h1>Welcome to Scrandemonium</h1>
        <p>This is website bio...</p>
    </div>

    <div>
        <img src="" alt="food photos?" />
    </div>

    <div>
        <img src="" alt="food photos?" />
    </div>

    <div>
        <img src="" alt="food photos?" />
    </div>

    <div>
        <h2>Newest Dishes</h2>
        <ul id="newest-recipes-list">
            <li>Loading newest recipes...</li>
          </ul>
    </div>

    <div>
        <h2>Best Rated Recipes</h2>
        <ul id="best-rated-recipes-list">
            <li>Loading newest recipes...</li>
          </ul>
    </div>
{% endblock %}