{% extends 'scrandemonium/base.html' %}
{% load static %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}

    <div class="index-grid">
        <div class="bio" id="highlight">
            <img src="{{ MEDIA_URL }}{{ other_user.profile_picture }}"width="400" >
            <h1>{{ other_user.username }}</h1>
            <p>{{ other_user.biography }}</p>
        </div>

        <div class="box" id="highlight">
            <h2>{{ other_user.username }}'s Favourites</h2>

            {% if other_user_favourites %}
                {% for fav in other_user_favourites %}
                    <h4>{{ fav.recipe.title }}
                    {% if fav.media_url %}
                        <img src="{{ fav.media_url }}" alt="{{ fav.recipe.title }}" width="50" />
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                    </h4>
                {% endfor %}
            {% else %}
                <h4>{{ other_user.username }} does not have any favourites yet</h4>
            {% endif %}
        </div>
    </div>

    <div class="index-grid">
        <div class="box" id="highlight">
            <h2>{{ other_user.username }}'s Recipes</h2>
            {% if other_user_recipes %}
                <table>
                    <tr>
                        <th>Recipe Title</th>
                        <th>Meal Type</th>
                        <th>Average Rating</th>
                    </tr>
                    {% for recipe in other_user_recipes %}
                    <tr>
                        <td>{{ recipe.title }}</td>
                        <td>{{ recipe.meal_type }}</td>
                        <td>{{ recipe.rating_avg }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <h4>{{ other_user.username }} does not have any recipes yet</h4>
            {% endif %}
        </div>

        <div class="box" id="highlight">
            <h2>{{ other_user.username }}'s Reviews</h2>

            {% if other_user_comments %}
            <table>
                <tr>
                    <th>Recipe</th>
                    <th>Comment</th>
                    <th>Rating</th>
                </tr>
                {% for comment in other_user_comments %}
                <tr>
                    <td>{{ comment.recipe.title }}</td>
                    <td>{{ comment.comment }}</td>
                    <td>
                        {% with rating=comment.recipe.ratings.all|first %}
                            {{ rating.rating|default:"No ratings yet" }}/5
                        {% endwith %}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                <h4>{{ other_user.username }} does not have any reviews yet</h4>
            {% endif %}
        </div>
    </div>    

{% endblock %}