{% extends 'scrandemonium/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ MealType }} Recipes
{% endblock %}

{% block body_block %}

    <div class="container">
        <div class="bio" id="highlight">
            <div class="bio text">
                <h1>{{ MealType }} Recipes</h1>
                <p>{{ description }}</p>
            </div>
        </div>

        <div class="photos">
            <img src="{{ image }}" alt="MealType Photo" />
        </div>
    </div>

    <!-- Recipes List -->
    <div class="box">
        <h2>{{ MealType }}'s Recipes</h2>
        <div class="index-grid" id="highlight">
            <div class="search-bar-recipes">
                <form action="{% url 'scrandemonium:recipe_search_result' MealType %}" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="Search Our Recipes..." name="searched"/>
                </form>
            </div>
            <div class="filter" id="highlight">
                <a href="{% url 'scrandemonium:index' %}">
                    <img src="{% static 'filter_icon.jpg' %}" alt="Scran Logo" />
                </a>
            </div>
        </div>
        <table class="recipe-table" id="highlight">
            <thead>
                <tr>
                    <th>Recipes</th>
                    <th>User</th>
                    <th>Average Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                <tr>
                    <td><a href="{% url 'scrandemonium:recipe_page' recipe.recipe_id %}">{{ recipe.title }}</a></td>
                    <td><a href="{% url 'scrandemonium:other_profile' recipe.user.id %}">{{ recipe.user }}</a></td>
                    <td>{{ recipe.rating_avg|default:"None"}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
