{% extends 'scrandemonium/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ MealType }} Recipes
{% endblock %}

{% block body_block %}
    <h1>{{ MealType }} Recipes</h1>

    <section id="{{ MealType }}">
        <p>{{ description }}</p>
        <img src="{{ image }}" alt="MealType Photo" />
    </section>

    <section id="search-bar">
    </section>

    <!-- Recipes List -->
    <section id="recipes-list">
        <h2>{{ MealType }}'s Recipes</h2>
        <table>
            <tr>
                <th>Recipes</th>
            </tr>
            {% for recipe in recipes %} <!-- you weren't looping over the list, but recipes.recipe -->
            <tr>
                <td><a href="{% url 'scrandemonium:recipe_page' recipe.recipe_id %}">{{ recipe.title }}</a></td>
                <td>{{ recipe.user }}</td>
                <td>{{ recipe.ratingAvg }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
