{% extends 'scrandemonium/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <div class="bio">
        <h1>
            Register with Scrandemonium
        </h1>
    
        {% if registered %}
            Thank you for registering with us.  Enjoy your stay!
            <a href="{% url 'scrandemonium:index' %}">Return to our homepage to continue searching!</a>
        {% else %}
    
        Enter you details below
    </div>

    <form id="user_form" class="register" method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Register Here!" />
    </form>
    {% endif %}
{% endblock %}