{% extends 'scrandemonium/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Review a Recipe
{% endblock %}

{% block body_block %}

    <div id="highlight">
        <h1>{{ user.username }}'s {{ recipe.name }}</h1>
        <img src="" alt="Recipe Picture" />
    </div>
        
    <div id="highlight">
        <form id="add_recipe_form" method="post" action="">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }} 
                <br />
            {% endfor %}
            <input type="submit" name="submit" value="Submit" />
        </form>
    </div>

{% endblock %}

