{% extends 'scrandemonium/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Review a Recipe
{% endblock %}

{% block body_block %}

    <div class="box">
        <h1>{{ recipe.user }}'s {{ recipe.title }}</h1>
        <img src="{{ media.media_url }}" alt="Recipe Picture" />
    </div>
        
    <div>
        <form id="add_recipe_form" method="post" id="highlight">
            {% csrf_token %}

                <!--Rating-->
                <div class="bio">
                    <div class="add-container">
                        <h3>Rating:</h3>
                        <input type="radio" id="rating_1" name="rating" value="1" />
                        <label for="rating_1">1</label>
                        <input type="radio" id="rating_2" name="rating" value="2" />
                        <label for="rating_2">2</label>
                        <input type="radio" id="rating_3" name="rating" value="3" />
                        <label for="rating_3">3</label>
                        <input type="radio" id="rating_4" name="rating" value="4" />
                        <label for="rating_4">4</label>
                        <input type="radio" id="rating_5" name="rating" value="5" />
                        <label for="rating_5">5</label>
                    </div>
                </div>

                <div class="box">
                    <div class="add-container">
                        <!--Comments-->
                        <h3>Additional Comments:</h3>
                        <textarea id="comment" name="comment" rows="5" placeholder="Tell us what you think..."></textarea>
                    </div>
                </div>
            
                <div class="box">
                    <input type="submit" name="submit" value="Submit Review" />
                </div>
        </form>
    </div>

{% endblock %}

